*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
}
header{
grid-area: header;
}
nav {
 grid-area: nav;
}
main{
 grid-area: main;
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: 1fr 1fr;
 grid-template-areas: 
 "section1 section2"
 ;
}
footer{
 grid-area: footer;
}


#headerGrid {
    background-color: gold;
}
#section1 {
    background-color: gold;
    grid-area: section1;
}
#section2 {
    background-color: gold;
    grid-area: section2;
}
#footerGrid {
    background-color: gold;
}
.fondoNav {
 background-color: gold;
}